//variables
@use "../utilities/variables" as *;

//mixin
@use "../utilities/mixin" as *;

//mq tablet
@media screen and (min-width: 768px) {
  .contenedor-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
