//variables
@use "../utilities/variables" as *;

//mixin
@use "../utilities/mixin" as *;

@media screen and (min-width: 1024px) {
  .contenedor-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.navbar-toggler{
  display: none;
}

.navbar{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-brand{
    margin-right: auto;
  }

  .navbar-collapse{
    display: flex !important;
    justify-content: flex-end;

    .bg-light{
      background: none !important;
    }
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
}