//variables
@use "../utilities/variables" as *;

//mixin
@use "../utilities/mixin" as *;

//estilos main
.first {
  padding-top: 2rem;
  min-height: 75vh;

  background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../img/img1.jpg);
  background-size: cover;
  background-position: center;

  @include flex-center();
  text-align: center;
  color: $color-letra-boton;
  padding: 0.1rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.button {
  background-color: $color-main;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;

  a {
    color: $color-letra-boton;
    text-decoration: none;
  }

  &:hover {
    background-color: $color-hover;
  }
}

//estilos section
#propiedades {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;

  h2
   {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $color-tipografia;
  }
}

h2{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: $color-tipografia;
  }

.porpiedades-grid {
  @include grid-responsive(360px);
}

.propiedades-card,
.propiedades-proyectos {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  img {
    width: 100%;
    object-fit: cover;
  }
}

.propiedades-card {
  img {
    height: 200px;
  }

  button {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: $color-main;
    color: $color-letra-boton;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.descripcion {
  text-align: center;
  padding: .5rem 1rem;
  color: $color-tipografia;
}

.propiedades-proyectos img {
  height: 300px;
}

iframe {
  width: 100%;
  height: 200px;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
}

#contacto {
  background-color: $color-background;
  padding: 4rem 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: $color-tipografia;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input,
    textarea {
      padding: .8rem;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    textarea {
      height: 150px;
      resize: vertical;
    }

    button {
      background-color: $color-main;
      color: $color-letra-boton;
      border: none;
      padding: 1rem;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $color-hover;
      }
    }
  }
}

.redes {
  background-color: $color-background;
  padding: 2rem;
  margin-top: 1rem;
  @include flex-center(column);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 10px;

  img {
    width: 50px;
    margin: .5rem;
  }

  a {
    font-size: 25px;
    text-decoration: none;
    color: $color-tipografia;
  }
}

.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin: .5rem;
  justify-content: center;

  button {
    background-color: $color-main;
    color: $color-letra-boton;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.producto {
  background-color: whitesmoke;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;

  p {
    font-weight: 600;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
}

//estilos footer
footer {
  background: #333;
  color: #fff;
  margin-top: 60px;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}